*{
 
    padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color:rgb(29, 26, 26);
color:rgb(113, 4, 113);
line-height: 1.5;
}
nav{
    position: fixed;
    top:0;
    width: 1580px;
    background-color: black;
    padding:10px;
}
.nav-list {
    list-style-type: none;
    display:flex;
    justify-content: space-around;
}
.nav-list li {
    margin: 0 20px;
}

.nav-list a {
    text-decoration:none;
    color:blueviolet;
    font-weight:lighter;
    font-size: 15px;
    
}
.welcome-section{
    text-align:left;
    padding: 200px 20px;
    color:aliceblue;
}
.welcome-section h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 0.5px;
    font-size: 60px;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.7);
}
.welcome-section p{
    font-style:italic ;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.7);
}
.about-section{
    padding: 50px 20px;
    color: #d0cece;
    background-color:rgb(35, 33, 33) ;
    text-align: center;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.7);
    margin: 30px;
}
.about-section h2{
    font-family: 'Playfair Display', serif;
    font-style:italic;
    font-size: 45px;
    padding-bottom: 30px;
}
.about-section p{
    text-align: left;
}
.contacts-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 30vh;
    padding: 0 2rem;
    background: var(--main-gray);
  }
.contacts-section h3{
   text-align: center;
   font-size: 30px;
   color:azure;
   text-shadow:2px 2px 4px rgba(0, 0, 0, 0.7);
}
.contacts-section p{
    color:aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact-details i {
    font-size: 24px; 
    margin-right: 5px;
    padding: 20px;

}


.contact-details i.fab {
    color: #6f164b; 
}

.contact-details i.fab.fa-github {
    color: #e0d8d8; 
}

.contact-details i.fab.fa-linkedin {
    color: #0077b5; 
}

.contact-details i.fas.fa-at {
    color: #e7dbda; 
}

.contact-details i.fas.fa-mobile-alt {
    color: #a74a28; 
}
.contact-links {
   padding: 40px;
}
@media (max-width: 986px){
    .nav-list{
        width: 760px;
    }
}
